*~
.config/fontconfig/conf.d/09-Directories.conf
.config/fontconfig/conf.d/78-Reject.conf
.config/kitty/current-theme.conf
.config/kitty/kitty.conf.bak
.emacs.d/places
.emacs.d/transient
.emacs.d/projectile-bookmarks.eld
.emacs.d/recentf
