# See https://wiki.hyprland.org/Configuring/Monitors/
# vim: ft=hyprlang

{{ if or (eq .chezmoi.hostname "fennec") (eq .chezoi.hostname "wolf") -}}
monitor=desc:{{ .displays.hypr.desktop.main }},2560x1440@144,0x0,1,vrr,0
monitor=desc:{{ .displays.hypr.desktop.side }},1920x1080@144,2560x-480,1,transform,1,vrr,0
#monitor=DP-2,disable
{{- end -}}
{{- if eq .chezmoi.hostname "eevee" -}}
monitor=eDP1,preferred,0x0,1
monitor=desc:{{ .displays.hypr.desktop.main }},2560x1440@144,auto-up,1,vrr,0
monitor=desc:{{ .displays.hypr.desktop.side }},1920x1080@144,auto-right,1,transform,1,vrr,0
{{- end }}
